body{
    display: flex;
    justify-content: center;
    height: 100vh;
}
#container{
    width: 70%;
    margin-top: 100px;
    background-color: black;
    color: white;
    padding: 40px;
    max-height: 90%;
    border-radius: 20px;
    
}
.titulo{
    text-align: center;
    margin-bottom: 40px;
}

.img{
    width: 200px;
    height: 200px;
}

#imc{
    display: flex;
    height: 20% ;
    

}

#textos{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    text-align: start;
    justify-content: space-around;
    align-items: start;
    margin-top: 10px;
}